<h1>Edit Task</h1>

<%= form_with model: @task, url: task_path(@task), method: :patch do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details, "Details" %>
    <%= f.text_area :details %>
  </div>
  <div>
    <%= f.label :completed, "Completed?" %>
    <%= f.check_box :completed %>
  </div>
  <div>
    <%= f.submit "Update Task" %>
  </div>
<% end %>

<%= link_to "Back to tasks", tasks_path, class: "btn btn-link" %>
